body {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	font-size: 18px;
	font-family: Open Sans, Arial;
	color: #444;
	padding: 0 10px;
	background-color: #fafafa;
	text-align:left;
}

h1,
h2,
h3 {
	line-height: 1.2
}

a {
	color: lightseagreen;
}

ul {
	list-style: square;
}

p.endpage {
	font-style: italic;
	font-size: 16px;
	text-align: justify;
}

code {
	padding: .2em .4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27, 31, 35, .05);
	border-radius: 6px;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

pre{
	background-color: #f0f0f0;
	user-select: contain;
	overflow-x: auto;
	padding: 20px;
}
