:root {
    --body-background-color: #ededed;
    --body-color: #000;
    --b-color: #222;
    --a-color: #3273dc;
    --input-color: #201f1f;
    --input-background-color: #fff;
    --code-background-color: #f2f2f2;
    --precode-color: #222;
    --blockquote-color: #222;
    --helptext-color: #646363;
    --error-list-color: #eba613;
    --a-visited-color: #6b4db1;
    --a-hover-color: blue;
    --load-color-1: #000;
    --placeholder-color: #3a3939;
    --hr-border-color: black;
    --slider-color: rgb(58, 58, 58); 
    --before-color: white;
    --svg1-color: white;
    --svg2-color: rgb(195, 140, 0);
    --goup-hover-color: rgb(222, 217, 217);
}

[data-dark-mode] {
    --body-background-color: #2d2d2d;
    --body-color: #ffffff;
    --b-color: #ffffff;
    --a-color: #a1d2eb;
    --input-color: #ddd;
    --input-background-color: #252525;
    --code-background-color: #777;
    --precode-color: #ddd;
    --blockquote-color: #ccc;
    --helptext-color: #aaa;
    --error-list-color: #eba613;
    --a-visited-color: #c0ade8;
    --a-hover-color: #7a67a8;
    --load-color-1: #fff;
    --placeholder-color: #898888;
    --hr-border-color: white;
    --slider-color: black;
    --before-color: white;
    --svg1-color: rgb(16, 18, 154);
    --svg2-color: white;
    --goup-hover-color: rgb(207, 207, 207);
}

html {
    background-color: var(--body-background-color) !important;
    display: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 1em;
    max-width: 50em;
    text-align: left;
    background-color: var(--body-background-color) !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--body-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.div_switch {
    display: flex;
    position: fixed;
    bottom: 2.2em;
    right: 0;
    margin-right: 3.5%;
    z-index: 10;
    -webkit-tap-highlight-color: transparent !important;
}

.sup {
    display: inline-block;
    position: relative;
}

.div_switch input {
    display: none;
}      

.div_switch .slider {
    background-color: var(--slider-color);
    width: 5em;
    cursor: pointer;
    height: 2.5em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5em;
    border: 0.1em solid var(--slider-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.div_switch .slider::before {
    content: '';
    background-color: var(--before-color);
    position: absolute;
    width: 2.2em;
    height: 2.2em;
    bottom: 0.25em;
    right: 0.25em;
    border-radius: 5em;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.slider .svg1 {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    width: 1.8em;
    height: 1.8em;
    bottom: 0.4em;
    right: 3em;
    fill: var(--svg1-color);
    transition: fill 0.4s;
    -moz-transition: fill 0.4s;
    -webkit-transition: fill 0.4s;
    -o-transition: fill 0.4s;
}

.slider .svg2 {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    width: 1.5em;
    height: 1.5em;
    bottom: 0.6em;
    right: 0.6em;
    fill: var(--svg2-color);
    transition: fill 0.4s;
    -moz-transition: fill 0.4s;
    -webkit-transition: fill 0.4s;
    -o-transition: fill 0.4s;
}

input:checked + .slider::before {
    transform: translateX(-2.5em);
    -moz-transform: translateX(-2.5em);
    -webkit-transform: translateX(-2.5em);
    -o-transform: translateX(-2.5em);
    background-color: var(--before-color);
}

input:checked + .slider {
    background-color: var(--slider-color);
}

@media only screen and (max-width: 600px) {
    li {
        margin-left: -1em;
    }
    ul {
        margin-left: -0.2em;
    }
    nav a {
        padding: 0.2em;
    }
    h1[id], h2[id], h3[id], h4[id] {
        scroll-margin-top: 5.2em !important;
    }
    input {
        max-width: 93% !important;
    }
    #filein {
        max-width: 90% !important;
    }
    nav a {
        font-size: 17px !important;
    }
    @-moz-document url-prefix() {
        nav a {
            font-size: 16px !important;
        }
    }
    #flexfile {
        margin-bottom: 1.6em !important;
    }
    #filesub {
        margin-top: 1.5em !important;
        margin-bottom: 0.5em !important;
    }
}

@media only screen and (max-width: 920px) and (min-width: 600px){
    body {
        padding: 2.2em;
    }
    .div_switch {
        margin-bottom: -0.5em;
    }
    #goup {
        margin-bottom: -0.5em;
    }
    @-moz-document url-prefix() {
        nav a {
            font-size: 16px !important;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: var(--b-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

hr {
    border: 0.05em solid var(--hr-border-color);
}

_::-webkit-full-page-media, _:future, :root hr {
    margin-bottom: 1em; 
}

a {
    color: var(--a-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-tap-highlight-color: transparent !important;
    /*color: #ff5e6c;*/
}

.title {
    text-decoration: none;
    border: 0;
    text-align: center;
}

.title span {
    font-weight: 400;
}

h1[id], h2[id], h3[id], h4[id] {
    scroll-margin-top: 3.8em;
}

_::-webkit-full-page-media, _:future, :root h1[id], h2[id], h3[id], h4[id] { 
    padding-top: 1.5em !important;
    margin-top: -1.5em !important;
    scroll-snap-margin: 3.9em;
}

.sticky-header {
    background-color: var(--body-background-color);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding-top: 0.5em;
}

.sticky-header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.6em;
}

nav a {
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: var(--a-color) !important;
    font-size: larger;
    padding: 0.2em;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.active {
    text-decoration: none;
    background-color: #04AA6D;
    color: white !important;
    border-radius: 0.5em;
}

textarea {
    width: 93%;
    font-size: 16px;
    border-width: 0.1em;
    border-radius: 0.5em;
    border-color: #000;
    padding: 0.5em;
    background-color: var(--input-background-color);
    color: var(--input-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

input {
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: #000;
    padding: 0.5em;
    font-size: 16px;
    max-width: 20em;
    background-color: var(--input-background-color);
    color: var(--input-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

input::placeholder {
    color: var(--placeholder-color);
    font-size: 95%;
}

input::-moz-placeholder {
    color: var(--placeholder-color);
    opacity: 1;
    font-size: 80%;
}

input::-webkit-input-placeholder {
    color: var(--placeholder-color);
    opacity: 1;
    font-size: 95%;
}

textarea::placeholder {
    color: var(--placeholder-color);
    font-size: 90%;
}

textarea::-moz-placeholder {
    color: var(--placeholder-color);
    opacity: 1;
    font-size: 80%;
}

textarea::-webkit-input-placeholder {
    color: var(--placeholder-color);
    opacity: 1;
    font-size: 90%;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background-color: var(--code-background-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

pre code {
    color: var(--precode-color);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

div.highlight pre {
    background-color: initial;
    color: initial;
}

div.highlight code {
    background-color: unset;
    color: unset;
}

blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: var(--helptext-color);
    font-size: small;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.errorlist {
    color: var(--error-list-color);
    font-size: small;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--a-visited-color);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a:visited {
    color: var(--a-visited-color);
}

.asterisk {
    text-decoration: none !important;
    color: var(--b-color) !important;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.asterisk:hover {
    color: grey !important;
}

button {
    cursor: pointer;
    z-index: 10;
}

#toggle {
    border-style: solid;
    background-color: white;
    border-color: #000;
    border-width: 0.1em;
    padding: auto;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.275rem;
    padding-bottom: 0.1rem;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#goup {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-width: 0.1em;
    border-style: solid;
    background-color: white;
    border-color: #000;
    border-radius: 1em;
    padding: auto;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.275rem;
    padding-bottom: 0.1rem;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-tap-highlight-color: transparent !important;
}

@media (hover: hover) and (pointer: fine){

    a:hover {
        color: var(--a-hover-color);
    }

    #toggle:hover {
        border-radius: 2.5em !important;
    }

    #goup:hover {
        border-radius: 10em !important;
        background-color: var(--goup-hover-color);
    }

    #goup:hover path {
        fill: blue;
    }

    #submit:hover, #filesub:hover, #afile:hover {
        border-radius: 3em !important;
    }

}

#goup:focus {
    transform: scale(0.8,0.8);
    -moz-transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    -o-transform: scale(0.8,0.8);
}

#goup:focus path {
    fill: blue;
}

#my-form-status {
    visibility: hidden;
    opacity: 0;
    height: auto;
    max-height: 0;
    font-size: larger;
    font-weight: 600;
    width: fit-content;
    margin-top: 3.5em;
    margin-bottom: 1.5em;
    margin-left: 0.5em;
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
}

#my-form-status.arrived {
    visibility: visible;
    opacity: 1;
    max-height: 20em;
}

#loading, #loading2 {
    width: 1.4rem;
    height: 1.4rem;
    max-height: 0;
    border: 0.2rem solid var(--load-color-1);
    border-top: 0.2rem solid var(--body-background-color);
    border-radius: 100%;
    margin-left: 2rem;
    margin-top: 0.3em;
    float: right;
    visibility: hidden;
    animation: spin 0.5s infinite linear;
    -moz-animation: spin 0.5s infinite linear;
    -webkit-animation: spin 0.5s infinite linear;
    -o-animation: spin 0.5s infinite linear;
}

#loading2 {
    margin-top: 1.8em;
    margin-left: 1.6em !important;
    margin-bottom: 0.3em;
    order: 2;
}

#thanks {
    margin-bottom: 2.2em;
}

#loading.display, #loading2.display {
    visibility: visible;
    max-height: 2rem;
}

#flexfile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 2em;
}

.add {
    opacity: 1 !important;
    visibility: visible !important;
}

#submit, #filesub {
    width: 6em;
    height: 2.5em;
    font-size: medium;
    border-radius: 0.5em;
    overflow: hidden !important;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    background-color: #38387f;
    color: white;
    border-color: #000;
    border-width: 0.1em;
    border-radius: 0.5em;
    border-style: solid;
    font-weight: 700;
}

#filesub {
    margin-left: 0.8em;
    margin-top: 1.5em;
    order: 1;
}

#afile {
    border: 0.1em solid #000;
    padding: 0.4em;
    height: 1.8em;
    width: fit-content;
    border-radius: 0.5em;
    color: white;
    font-size: medium;
    text-align: center;
    font-weight: 550 !important;
    background-color: #38387f;
    margin-top: 1.4em;
    margin-bottom: 0.3em;
    margin-left: 0.8em;
    text-decoration: none;
    order: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#filein {
    margin-top: 1em;
    padding: 1em;
    border: 0.1em solid black;
    order: 0;
}

main {
    animation: fadeInAnimation ease 0.6s;
    -moz-animation: fadeInAnimation ease 0.6s;
    -webkit-animation: fadeInAnimation ease 0.6s;
    -o-animation: fadeInAnimation ease 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}