  <form method="POST" action="https://formapi.fly.dev/post" id="form">
    <div class="form-group row">
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-user"></i>
          </div>
          <input id="name" name="name" placeholder="Your name" maxlength="30" minlength="3" type="text" required="required" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group row" style="margin-top: 0.5em;">
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </div>
          <input style="width: 95%;" id="email" name="email" placeholder="Email address, phone number or Telegram" maxlength="30" minlength="5" type="text" required="required" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group row" style="margin-top: 0.5em;">
      <div class="col-8">
        <textarea id="message" name="message" cols="45" rows="10" required="required" minlength="6" class="form-control" placeholder="Type your message&#10;Max 1000 character&#10;You can put here links to external resources&#10;For sending files, use the form below" maxlength="1000" spellcheck="true"></textarea>
      </div>
    </div>
    <div class="frc-captcha" style="transition: all 0.5s;margin-top: 0.2em;width: 2em;border-radius: 0.5em;border: 0.1em solid black !important;" data-sitekey="FCMTGCV10AMHV9QE"></div>
    <div class="form-group row" style="width: fit-content;margin-top: 1em;">
      <div class="offset-4 col-8" style="float: left;">
        <button name="submit" type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>
      <div id="loading"></div>
    </div>
    <p id="my-form-status"></p>
  </form>

  <hr>
  <h3 id="compress-your-pdf">Compress your PDF</h3>
  <p>🇮🇹 &nbsp; Comprimi i tuoi appunti mantenendo alta la qualità. Avviene tutto nel tuo browser, nessun server esterno riceverà il tuo PDF, garantendo così la privacy e costi zero. Tieni presente che più il file è grande e più sarà lunga l'operazione (il tool è in grado di passare da 100 MB a 30-50MB dai nostri test, ma in più di 20 minuti a volte!). Dunque lascialo lavorare in background e prenditi un caffè.</p>
  <p>❗&nbsp;<b>NON RICARICARE LA PAGINA MENTRE IL TOOL LAVORA IN BACKGROUND.</b> Nel frattempo, puoi comunque mandarci messaggi dai form e usare le altre tab del browser come sempre.</p>
  <p>🇬🇧 &nbsp; Compress your notes while maintaining high quality. All processing happens within your browser, with no server involved, ensuring privacy and no cost. Keep in mind that the larger the file, the longer the compression will take. Based on our tests, the tool can compress files from 100MB to 30-50MB, but this process can sometimes take over 20 minutes. So, let it run in the background while you take a coffee.</p>
  <p>❗&nbsp;<b>DO NOT REFRESH THE PAGE WHILE THE TOOL IS WORKING IN THE BACKGROUND.</b> In the meantime, you can always send us messages using the forms and continue using other browser tabs as usual.</p>
  <form id="formfile">
    <div id="flexfile">
      <input class="file" id="filein" type="file" accept="application/pdf"> 
      <button type="submit" id="filesub" class="file" style="visibility: hidden;opacity: 0;" disabled>Submit</button>
      <a style="display: none;" id="afile" target="_blank">Download</a>
      <div id="loading2"></div>
    </div>
  </form>
  <p id="thanks">🥳 &nbsp;<b>This feature exists because of the work done by <a href="https://meyer-laurent.com/" target="_blank">Laurent Meyer</a>.</b> You can read more about how it works <a href="https://meyer-laurent.com/playing-around-webassembly-and-ghostscript" target="_blank">here</a>.</p>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.16/widget.module.min.js"
  async
  defer
></script>

<script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.16/widget.min.js" async defer></script>

<noscript>
  <link rel="stylesheet" href="{{ relURL "noscript_smooth.css" }}" crossorigin="anonymous">
</noscript>

<script type="module">
  import {_GSPS2PDF} from "{{ relURL "lib/worker-init.js"}}";

  const filein = document.querySelector("#filein");
  const filesub = document.querySelector("#filesub");
  const formfile = document.querySelector("#formfile");
  const afile = document.querySelector("#afile");
  const loader2 = document.querySelector("#loading2");

  function loadPDFData(response, filename) {
    return new Promise((resolve, reject) => {
      const xhr = new XMLHttpRequest();
      xhr.open("GET", response);
      xhr.responseType = "arraybuffer";
      xhr.onload = async function (e) {
        const re = e.currentTarget.response;
        window.URL.revokeObjectURL(response);
        const blob = new Blob([re], {type: "application/pdf"});
        const pdfURL = window.URL.createObjectURL(blob);
        const size = re.byteLength;
        resolve({pdfURL, size});
      };
      xhr.send();
    });
  }

  async function compressPDF(pdf, filename) {
    const dataObject = { psDataURL: pdf };
    const element = await _GSPS2PDF(dataObject);
    const {pdfURL, size} = await loadPDFData(element, filename);
    console.log(size);
    formfile.reset();
    afile.setAttribute("href", pdfURL);
    afile.setAttribute("download", minFilename(filename));
    pdfURLs = pdfURL;
  }

  const minFilename = (filename) => filename.replace(".pdf", "-min.pdf");
  var file, url;
  var pdfURLs;
  var start = 0;
  var check = 0;

  filein.addEventListener("change", (event) => {
    file = event.target.files[0];
    console.log(file.size);
    filesub.disabled = false;
    filesub.style.visibility = "visible";
    filesub.style.opacity = "1";
  })

  filesub.addEventListener("click", async function(event) {
    event.preventDefault();
    if(!start){
      filesub.disabled = true;
      filein.disabled = true;
      filesub.display = "none";
      filesub.style.visibility = "hidden";
      filesub.style.opacity = "0";
      setTimeout(() => {
        filesub.style.order = 2;
        loader2.style.order = 1;
        if(!check){
          setTimeout(() => {
            loader2.classList.add("display");
          }, 250);
        } else {
          check = 0;
        }
      }, 660);
      start = 1;
      url = window.URL.createObjectURL(file);
      await compressPDF(url, file.name);
      check = 1;
      setTimeout(() => {loader2.classList.remove("display");}, 0);
      loader2.style.order = 3;
      afile.style.order = 1;
      setTimeout(() => {
        afile.style.display = "block";
      }, 200);
      setTimeout(() => {
        afile.style.visibility = "visible";
        afile.style.opacity = "1";
      }, 600);
      return false;
    } else {
      filesub.style.visibility = "hidden";
      filesub.style.opacity = "0";
      filesub.disabled = true;
      afile.style.visibility = "hidden";
      afile.style.opacity = "0";
      setTimeout(() => {
        filesub.style.order = 1;
        afile.style.order = 3;
        loader2.style.order = 2;
      }, 600);
      filein.disabled = false;
      window.URL.revokeObjectURL(pdfURLs);
      setTimeout(() => {filesub.textContent = "Submit";}, 1400);
      start = 0;
      check = 0;
    }
  })

  afile.addEventListener("click", (e) => {
    loader2.style.order = 3;
    filesub.textContent = "Restart";
    filesub.disabled = false;
    filesub.style.display = "block";
    setTimeout(() => {
      filesub.style.visibility = "visible";
      filesub.style.opacity = "1";
    }, 200);
    return false;
  })
</script>

<script>

  var inputs = document.getElementsByTagName('input');
  for(let i=0; i<inputs.length; i++){
      if(inputs[i].type === "checkbox"){continue};
      if(inputs[i].getAttribute("class") == "file"){continue};
      inputs[i].setAttribute('size',inputs[i].getAttribute('placeholder').length);
  }

  if (localStorage.getItem('theme') == 'dark') {
    document.querySelector('.frc-captcha').classList.add("dark");
  }

  document.addEventListener('DOMContentLoaded', () => {

    document.querySelectorAll('a[href="#send-us-directly-your-files-open_file_folder"]').forEach((a) => a.addEventListener("click", (e) => {
      e.preventDefault();
      document.documentElement.style.scrollBehavior = "smooth";
      const y = document.getElementById("send-us-directly-your-files-open_file_folder").offsetTop;
      const offset = document.querySelector(".sticky-header").offsetHeight;
      window.scrollTo({top:y-offset-10, behavior:"smooth"});
      window.location.hash = "#send-us-directly-your-files-open_file_folder";
    }))

    document.querySelectorAll('a[href="#compress-your-pdf"]').forEach((a) => a.addEventListener("click", (e) => {
      e.preventDefault();
      document.documentElement.style.scrollBehavior = "smooth";
      const y = document.getElementById("compress-your-pdf").offsetTop;
      const offset = document.querySelector(".sticky-header").offsetHeight;
      window.scrollTo({top:y-offset-10, behavior:"smooth"});
      window.location.hash = "#compress-your-pdf";
    }))

    var timeout = null;
    var form = document.getElementById("form");
    var status = document.getElementById("my-form-status");
    status.innerText = "0";
    
    async function handleSubmit(event) {

      event.preventDefault();
      status.classList.remove("arrived");
      if(timeout !== null) window.clearTimeout(timeout);

      const loader = document.querySelector("#loading");
      loader.classList.add("display");

      var data = new FormData(event.target);
      var text_msg = "";
      var text_color = "";

      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json',
        }

      }).then(response => {
        if (response.ok) {

          text_msg = "Thanks for your submission! 📨";
          text_color = "#119f07";
          form.reset();
          friendlyChallenge.autoWidget.reset();

        } else {

          response.json().then(data => {

            if (Object.hasOwn(data, 'errors')) {

              text_msg = data["errors"].map(error => error["message"]).join(", ");
              text_color = '#d07';

            } else {

              text_msg = "Oops! Wrong response received, maybe not submitted.";
              text_color = '#d50';

            }
          })

          friendlyChallenge.autoWidget.reset();

        }
      }).catch(error => {

        text_msg = "Oops! There was an error while fetching the API. ❌";
        text_color = '#c83232';

      });
      
      setTimeout(() => {loader.classList.remove("display");}, 2200);
      setTimeout(() => {
        status.innerText = text_msg;
        status.style.color = text_color;
        status.classList.add("arrived");
      }, 2800);
      timeout = window.setTimeout(() => {status.classList.remove("arrived");}, 10000);
    }

    var host = window.location.host;
    var span_it = document.getElementById("alternative-it");
    var span_en = document.getElementById("alternative-en");

    if (host.includes("netlify")) {
      span_it.innerHTML = `Se incontri dei problemi con l'attuale sito prova sulla <a href="https://valerionew.github.io/triennale-elettronica-polimi/">Github Page</a>.`;
      span_en.innerHTML = `If you encounter any problem with the current website you can try the <a href="https://valerionew.github.io/triennale-elettronica-polimi/">Github Page</a>.`;
    } else if (host.includes("github")) {
      span_it.innerHTML = `Se incontri dei problemi con l'attuale sito prova sul <a href="https://triennale-elettronica-polimi.netlify.app/">Netlify Mirror</a>.`;
      span_en.innerHTML = `If you encounter any problem with the current website you can try the <a href="https://triennale-elettronica-polimi.netlify.app/">Netlify Mirror</a>.`;
    }

    form.addEventListener("submit", handleSubmit);

    var toggle = document.querySelector("#toggle").addEventListener("change", () => {
      if (localStorage.getItem('theme') === 'dark') {
        document.querySelector('.frc-captcha').classList.add("dark");
      } else {
        document.querySelector('.frc-captcha').classList.remove("dark");
      }
    }, false);

  })

</script>

<noscript>
  <p style="text-align: center;font-size: large;"><b style="color: red;">!! You need Javascript for CAPTCHA verification to submit this form !!</b></p>
</noscript>
