  <form method="POST" action="https://formapi.fly.dev/post" id="form">
    <div class="form-group row">
      <label for="name" class="col-4 col-form-label">Name</label>
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-user"></i>
          </div>
          <input id="name" name="name" placeholder="Please enter your name" maxlength="50" type="text" required="required" class="form-control">
        </div>
      </div>
    </div>
    &nbsp;
    <div class="form-group row">
      <label for="email" class="col-4 col-form-label">E-mail address</label>
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </div>
          <input id="email" name="email" placeholder="Your e-mail address" maxlength="50" type="email" required="required" class="form-control">
        </div>
      </div>
    </div>
    &nbsp;
    <div class="form-group row">
      <label for="message" class="col-4 col-form-label">Message</label>
      <div class="col-8">
        <textarea id="message" name="message" cols="40" rows="10" required="required" class="form-control" placeholder="Max 1000 character (here links to external resources)" maxlength="1000" spellcheck="true"></textarea>
      </div>
    </div>
    <div class="frc-captcha" data-sitekey="FCMTGCV10AMHV9QE"></div>
    <div>&nbsp;</div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <p id="my-form-status"></p>
  </form>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.13/widget.module.min.js"
  async
  defer
></script>

<script nomodule src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.13/widget.min.js" async defer></script>


<script>

  document.addEventListener('DOMContentLoaded', () => {

    var form = document.getElementById("form");
    
    async function handleSubmit(event) {

      event.preventDefault();

      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);

      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json',
        }

      }).then(response => {
        if (response.ok) {

          status.innerHTML = "Thanks for your submission! 📨";
          status.style.color = "#19F509";
          form.reset();
          friendlyChallenge.autoWidget.reset();

        } else {

          response.json().then(data => {

            if (Object.hasOwn(data, 'errors')) {

              status.innerHTML = data["errors"].map(error => error["message"]).join(", ");
              status.style.color = '#d00';

            } else {

              status.innerHTML = "Oops! There was a problem submitting your form. ❌";
              status.style.color = '#d00';

            }
          })

          friendlyChallenge.autoWidget.reset();

        }
      }).catch(error => {

        status.innerHTML = "Oops! There was a problem submitting your form. ❌";
        status.style.color = '#d00';

      });
    }

    form.addEventListener("submit", handleSubmit);

  })

</script>

<noscript>You need Javascript for CAPTCHA verification to submit this form.</noscript>
